<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
        <script src="./js/app.js"></script>
        <title>Início</title>
    </head>
    <body>
        <h1>Sobre</h1>
        {{>header}}
        {{>footer}}
    </body>
</html>